*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}
  
body {
  margin: 0;
  padding: 0;
  background: #e3f9ff;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
  
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
}
  
.calculator-grid > button:hover {
  background-color: #a9a9a9;
}
  
.span-two {
  grid-column: span 2;
}
  
.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.history{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1.5rem;
}

  
.output .previous-operand{
  color: rgba(255,255, 255, 0.75);
  font-size: 1.5rem;
}
  
.output .current-operand{
  color: white;
  font-size: 2.5rem;
}


.history-grid {
  display: grid;
  justify-content: right;
  align-content: right;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(10, 100px);
  margin-top: -780;
  margin-right: 200;
}

.output .history{
  color: white;
  font-size: 2.5rem;
}
